<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>

<a href="/new-room" id="create">Create room</a>
<br>
<input id="room-id" type="text">
<button id="join">Join Room</button>

<script>
  /*const socket = io();
  socket.on("id",(id)=>{
    console.log(id);
  })*/
  $( document ).ready(function() {
    
  });
</script>
